.resultado {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.08);

    position: fixed;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.resultado h2 {
    font-weight: 400;
    font-size: 18px;
    color: #333333;
    margin: 8px 0 0 0;
}

.resultado img {
    width: 23px;
    height: 23px;
}

.resultado h4 {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #333333;
    margin: 10px 14px;
}

.resultado h5 {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #333333;
    margin: 0 auto;
    width: 200px;
}

.tituloResultado{
    display: flex;
    align-items: center;
    justify-content: center;
}

.botaoReinicia {
    width: 167px;
    background: #FB6B6B;
    border-radius: 5px;
    margin-bottom: 8px;
    cursor: pointer;
}

.botaoReinicia h6{
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    margin: 0 0;
}