* {
  box-sizing: border-box;
}

body {
    font-family: 'Recursive', sans-serif;
    background: #FB6B6B;
  }

  ion-icon {
    font-size: 23px;
  }

.red {
    color: #FF3030;
    text-decoration: line-through;
}

.green {
    color: #2FBE34;
    text-decoration: line-through;
}

.yellow {
    color: #FF922E;
    text-decoration: line-through;
}
